html {
  scroll-behavior: smooth;
}

h5,
h6 {
  margin-top: 0% !important;
  color: black;
}

#tm,
#tm > h5,
#tm > h6 {
  color: #ffffff !important;
}

.logo {
  display: inline;
}
.navbar-brand {
  font-weight: 700;
  margin-top: -12px;
}
.navbar-brand img {
  position: relative;
  right: 10px;
  bottom: 5px;
  opacity: 0.3;
}

.header {
  background: #bdc3c7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #ffffff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2c3e50, #dfdada);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron {
  background-color: transparent !important;
}

.navbar {
  margin-bottom: 0px !important;
  border-radius: 0% !important;
  opacity: 0.95 !important;
}

#miet-logo {
  position: absolute;
  top: 2%;
  left: 16px;
  padding-top: 51px;
  filter: drop-shadow(0 0 6px #efefef);
  margin-top: 10px;
}

#iic-logo {
  font-weight: 800;
  font-size: 300%;
  color: black;
  position: absolute;
  top: 2%;
  right: 26px;
  filter: drop-shadow(0 0 15px #ffffff);
  padding-top: 61px;
}

#sap-logo {
  position: absolute;
  top: 10%;
  left: 16px;
  padding-top: 71px;
  max-width: 125px;
  margin-top: 10px;
}

.carousel-caption > h1,
h2 {
  font-family: "Orbitron", sans-serif !important;
}

@media only screen and (max-width: 720px) {
  #miet-logo img {
    width: 60% !important;
  }
  #iic-logo {
    max-width: 40%;
    font-size: 80% !important;
    right: 16px !important;
  }
  .carousel-caption h1,
  h2 {
    font-size: 350% !important;
  }
  .navbar-brand {
    font-weight: 700;
    margin-top: -7px;
  }
  .navbar-brand img {
    width: 50% !important;
    bottom: 0 !important;
    right: 0;
  }
  .jumbotron p,
  h2 {
    font-weight: 700 !important;
    padding-bottom: 5px !important;
    /*margin-bottom: -30px !important;*/
    font-size: 150% !important;
  }
  #timeline > h3 {
    color: white !important;
  }
  .carousel-inner > .item {
    height: 83vh !important;
  }
  .carousel-inner > .item > img {
    display: none !important;
    visibility: hidden;
  }
  #res {
    width: 70%;
  }
}

#piggy {
  text-align: middle;
  color: rgb(0.992, 0.844, 0.786);
}

#develop {
  color: rgb(0.992, 0.844, 0.786);
}

#timeline {
  background-image: url(assets/redundant.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 200%;
  color: black;
  font-weight: 700;
}

#timeline i:hover {
  color: rgb(248, 250, 250);
}

#coc > .col-md-4 {
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  padding-bottom: 30px;
  line-height: 170%;
}

#midcol {
  border-left: 2px solid #0396d1;
  border-right: 2px solid #0396d1;
}

body {
  padding-top: 51px;
}

.btn-lg {
  padding: 10px 25px !important;
}
#usecase {
  background: #dd5e89; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7bb97,
    #dd5e89
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7bb97,
    #dd5e89
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 30px;
  color: white;
  font-weight: 700;
  font-size: 1.3em;
}
#usecase p {
  margin: 3%;
  padding: 3%;
}
#team {
  background: #085078;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #85d8ce, #085078);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #85d8ce, #085078);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  font-family: cursive;
  text-align: center;
}
#committee {
  padding: 30px;
}
#committee .name {
  font-weight: 700;
  font-family: cursive;
}
#committee .title {
  font-weight: 700;
  font-family: cursive;
  font-size: 0.75em;
  margin-bottom: 20px;
}
#team .fab,
#team .fas,
.fa {
  margin: 5px;
  color: maroon !important;
}

h6 {
  font-weight: 600 !important;
}

.dp {
  border-radius: 50%;
  padding-top: 40px;
}

.fab {
  padding-left: 3px;
}

a {
  text-decoration: none !important;
}

#id01 {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Add padding to container elements */

.container {
  padding: 16px;
}
/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 720px) {
  .modal-content {
    width: 90%;
    margin-top: 30%;
  }
}

#FAQs {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e74c3c, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e74c3c, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 5%;
  color: #dfdada;
  box-sizing: border-box;
  height: auto;
  font-size: 150%;
  text-align: left;
}

#query input,
textarea {
  color: #080808 !important;
  background: transparent !important;
  border: #f10a7e !important;
  border-style: solid !important;
  border-width: 0px 0px 1px 0px !important;
  width: 50%;
}

#query input:focus,
textarea:focus {
  color: #080808 !important;
  background: transparent !important;
  border: #f10a7e !important;
  border-style: solid !important;
  border-width: 0px 0px 2px 0px !important;
  width: 50%;
}

label {
  padding-right: 7px;
}

#sub {
  position: relative;
  bottom: 10px;
  margin: 0 0 0 10px !important;
}

.faq-container {
  text-align: left;
  margin: auto;
  padding: 10px 20px;
  cursor: default;
}

.faq-container > .question {
  display: block;
}

.faq-container > .question {
  font-weight: 600;
  cursor: pointer;
}

.faq-container > .answer {
  display: none;
  text-indent: 20px;
}

.faq-container > .answer.is-visible {
  display: block;
  font-family: sans-serif;
}

.faq-container > .answer > ul {
  margin: 0;
  text-indent: 0;
}

footer {
  padding: 20px;
  background-color: #222;
  box-sizing: content-box;
}

.footerright {
  text-align: right;
  color: whitesmoke;
}

.footerleft {
  text-align: left;
  color: whitesmoke;
}

footer i {
  color: maroon;
}

.accented-anchor {
  color: #0396d1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto !important; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

ol {
  padding: 20px;
}
ul[type="disc"] {
  margin: 20px 0;
}
ul[type="disc"] li {
  font-size: 150%;
  padding: 20px;
}
